.tag {
  min-width: 73px;
  height: 18px;
  padding: 0 8px;
  background: #ff6060;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
