.about {
  color: var(--main-color);
}

.banner {
  position: relative;

  width: clamp(0px, 89%, 1440px);
  height: 223px;

  margin: auto;

  border-radius: 10px;
}

.banner img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 10px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 10px;
}

.content {
  width: 89%;

  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2vw, 33px);

  margin: clamp(20px, 2vw, 33px) auto;
}

@media (min-width: 900px) {
  .about {
    min-height: 85vh;
  }
  .content {
    width: min(1050px, 89%);
  }
}
