.galery {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.galery .galery-img {
  width: 100%;
  height: clamp(255px, 68vw, 415px);
  object-fit: cover;
  border-radius: 10px;
}

.galery button {
  position: absolute;
  background: none;
  border: none;
}

button.prev-btn {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.btn-img {
  height: clamp(20px, 4.3vw, 80px);
  width: auto;
}

button.next-btn {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
