.locationInfos {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-color);
}

.locationInfos h2 {
  margin-top: 10px;

  font-weight: 500;
  font-size: clamp(18px, 2vw, 36px);
  line-height: 142.6%;
}

.locationInfos h3 {
  margin-top: 7px;

  font-weight: 500;
  font-size: clamp(14px, 1vw, 18px);
  line-height: 142.6%;
}

.tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 10px;
}

.container-host {
  display: flex;
  justify-content: space-between;

  margin: 16px 0;
}

.host-infos {
  display: flex;
  align-items: center;
  gap: 11px;
}

.host-infos h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: clamp(12px, 1.3vw, 18px);
  line-height: 142.6%;
}

.host-infos img {
  height: clamp(32px, 3.5vw, 64px);

  border-radius: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 21px;

  margin-bottom: 70px;
}

@media (min-width: 900px) {
  .locationInfos .container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  .container-host {
    flex-direction: column;
  }

  .host-infos {
    order: 0;
  }

  .notation {
    order: 1;
  }

  .tags {
    margin-top: 20px;
  }

  .locationInfos h2 {
    margin-top: 30px;
  }

  .container-host {
    margin-top: 24px;
  }

  .details {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 70px;
  }
}
