nav {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  display: flex;
}

nav a {
  margin-left: 15px;

  text-transform: uppercase;
  color: #ff6060;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(12px, 1.6vw, 17px);
  font-weight: 500;
}

nav a.active-link {
  text-decoration: underline;
}

@media (min-width: 900px) {
  nav a {
    margin-left: 57px;
  }
}
